.html
{
	background-color: #F7F6FB;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #F7F6FB;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -7px;
	margin-bottom: 462px;
}

#u945
{
	z-index: 2;
	width: 1160px;
	padding-bottom: 5px;
	left: -100px;
}

#u945_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u659
{
	z-index: 5;
	width: 198px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 10px;
}

#u659_img
{
	padding-right: 1px;
}

#menuu669
{
	z-index: 7;
	width: 406px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 689px;
}

#u694
{
	width: 100px;
	min-height: 34px;
	margin-right: -10000px;
}

#u695
{
	width: 100px;
	padding-bottom: 15px;
}

#u695.MuseMenuActive
{
	margin: 0px;
}

#u696-4
{
	width: 100px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
}

#u695:hover #u696-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u695:active #u696-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u739
{
	width: 100px;
	min-height: 34px;
	margin-right: -10000px;
	top: 7px;
	left: 102px;
}

#u743-4
{
	width: 100px;
	min-height: 19px;
	margin-right: -10000px;
}

#u695.MuseMenuActive #u696-4,#u740:hover #u743-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u740:active #u743-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u670
{
	width: 100px;
	min-height: 34px;
	margin-right: -10000px;
	top: 7px;
	left: 204px;
}

#u675-4
{
	width: 100px;
	min-height: 19px;
	margin-right: -10000px;
}

#u740.MuseMenuActive #u743-4,#u673:hover #u675-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u673:active #u675-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u711
{
	width: 100px;
	min-height: 34px;
	margin-right: -10000px;
	top: 7px;
	left: 306px;
}

#u740,#u673,#u714
{
	width: 100px;
}

#u717-4
{
	width: 100px;
	min-height: 19px;
	margin-right: -10000px;
}

#u673.MuseMenuActive #u675-4,#u714:hover #u717-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u714:active #u717-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u714.MuseMenuActive #u717-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u649
{
	z-index: 3;
	width: 24px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 1102px;
}

#u947
{
	z-index: 32;
	width: 1160px;
	height: 1px;
	left: -100px;
	top: -1px;
	margin-bottom: -1px;
}

body
{
	padding-top: 7px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

