#u945
{
	border-color: #7F7F7F;
	background-color: #E1E1E1;
	position: relative;
}

#u659
{
	background-color: #E1E1E1;
	position: relative;
}

#u695
{
	background-color: transparent;
	position: relative;
}

#u696-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	color: #007FB6;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u695:hover #u696-4 p
{
	text-decoration: underline;
}

#u695:active #u696-4 p
{
	color: #E8532A;
	visibility: inherit;
	text-decoration: underline;
}

#u743-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	color: #007FB6;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u740:hover #u743-4 p
{
	text-decoration: underline;
}

#u740:active #u743-4 p
{
	color: #E8532A;
	visibility: inherit;
	text-decoration: underline;
}

#u675-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	color: #007FB6;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u673:hover #u675-4 p
{
	text-decoration: underline;
}

#u673:active #u675-4 p
{
	color: #E8532A;
	visibility: inherit;
	text-decoration: underline;
}

#u717-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	color: #007FB6;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u714:hover #u717-4 p
{
	text-decoration: underline;
}

#u714:active #u717-4 p
{
	color: #E8532A;
	visibility: inherit;
	text-decoration: underline;
}

#u695.MuseMenuActive #u696-4 p,#u740.MuseMenuActive #u743-4 p,#u673.MuseMenuActive #u675-4 p,#u714.MuseMenuActive #u717-4 p
{
	color: #E8532A;
	visibility: inherit;
	text-decoration: none;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u945_align_to_page,#menuu669,#u694,#u739,#u740,#u670,#u673,#u711,#u714,#u649
{
	position: relative;
}

#u947
{
	border-color: #7F7F7F;
	background-color: #007FB6;
	position: relative;
}

